
.container {
    width: 100%;
}
h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #010514;
}

.container_frame-text {
    font-size: 16px;
    font-weight: 40;
    line-height: 29px;
    color: #010514CC;
    margin-left: 25px;
    text-align: center;
    text-decoration: none;
}

.container_frame {
    width: 500px;
    height: 138px;
    top: 148px;
    left: 196px;
    margin: 0 50px;
    text-align-last: center;

}

.container_frame-img {
    width: 710px;
    height: 69px;
    top: 1252px;
    left: 196px;

}

.container_all {
    width: 500px;
    height: 35px;
    margin-top: 150px;
    margin-left: 250px;

}

.container_all-in {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F327D;
    text-decoration: none;

}

.container_all-cl {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #00CBB8;
    text-decoration: none;
    margin: 16px;
}

.container_all-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #696984;
    text-align-last: center;
    text-decoration: none;
    display: block;
}

.container_button {
    display: flex;
    padding: 50px;
    border: none;
    margin-left: 300px;

}

.container_button-line {
    width: 500px;
    height: 165px;
    top: 50px;
    left: 50px;
    text-align: justify;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    background-color: #f8f5f5;
    margin: 10px;


}

.container_button-line7 {
    width: 100px;
    height: 100px;
    top: 2032px;
    left: 400px;
}

.container_button-line0 {
    width: 100px;
    height: 100px;
    top: 2032px;
    Left: 910px;
}

.container_button-line1 {
    width: 100px;
    height: 100px;
    top: 1032px;
    Left: 1420px;
}

.container_button-text {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    color: #2F327D;
}

.container_button-all {
    text-decoration: none;
    color: #696984;
    font-size: 14px;
    font-weight: 200;
    line-height: 10px;
}
